{% extends "base.html" %} 
{% block js_ext %}
{% endblock %}
{% block content %}
<div>
    <div class="section">
        <h1>About the project</h1>
        <h2>What is the course about?</h2>
        <div>
            <p>Any adult is proficient in building and maintaining social connections. We all have experience of finding new friends, organizing family events, or giving care to kids. While having all this knowledge about the social universe of human beings it is natural to think that we have all needed skills to launch, grow and maintain an online community. The reality hit everyone who launched a community hard with a very small number of active users, apsense of growth, drama, and many other issues. The truth is that staying in touch with a few same-minded friends is not the same as building relationships with several dozen anonymous volunteers and coordinating their shared effort.</p>
            <p>Community management is not hard per se, rather it is counterintuitive from the perspective of our everyday social experience. It requires a different skill set that one actually needs and can learn. We think that the reason why people don’t learn community management is that today when one is looking for information about the topic online they can only find materials that are very abstract and never say what exactly one needs to do to improve a real world community. The applied scientific knowledge is still locked in the books on social science and it takes a lot of time to extract it.</p>
            <p>The mission of the Practical CM initiative is to provide you with a shortcut for the community management educational puzzle. You will learn in a dozen days what took us several years to practice.</p>
        </div>
        <h2>Who is this course for?</h2>
        <div>
            <p>This course is for practitioners of all sorts, starting from moderators and up to executives, who are involved in building and running communities on a daily basis and would like to understand the core principle of how communities work.</p>
        </div>
        <h2>How is the course designed?</h2>
        <div>
            <p>The course is based on more than ten years of experience working on one of the largest online communities of software developers, Stack Overflow. The course teaches what we’ve learned launching, growing and maintaining the community, one step at a time. The course is designed to be comprehensive, minimalistic and practical at the same time.</p>
            <ol>
                <li><i>Comprehensive</i>. The course contains enough knowledge to launch a community from scratch, grow it and maintain it in the long term successfully. </li>
                <li><i>Minimalistic</i>. We covered the most critical aspects of community management that affect the final results the most. This is the shortest version of what one needs to know.</li>
                <li><i>Practical</i>. We share only practical advice that we used ourselves, setting the abstract and talkative part aside. No water, just things that work. </li>
            </ol>
            <p>By-effect: If you understand and master everything in the course you are ready to apply for a community manager job.</p>
        </div>
    </div>
    <div class="section">
        <p>Anyone who has ever read an article on Wikipedia, copied some code from Stack Overflow or used some advice from Reddit perfectly knows how useful online communities are. Do you want to create a thriving community that has an impact on the world also? Please let us help you by explaining how to do that! <a href="https://courses.practical-cm.com/" target="_blank">Take the course now!</a></p>
    </div>
</div>
{% endblock %}