{% extends "base.html" %} 
{% block js_ext %}
{% endblock %}
{% block content %}
<div>
    <div class="section">
        <h1>About the author</h1>
        <div class="about-me">
            <p>Hi, my name is Nicolas Chabanovsky! I am the chief editor of Practical CM.</p>
            <p>I started my career as a hardware engineer in 2006. Since 2008 I have worked as a software engineer, mostly developing operating systems for embedded devices. My community journey started back in 2010 when my friend and I founded HashCode.ru as a side project just for fun. Somehow I got so interested that I quitted my day job and focused on managing and growing our community to the point that it became the most popular Q&A site for software developers who speak Russian. In 2014 the community was acquired by Stack Overflow and changed its name to Stack Overflow in Russian. Since then for almost nine following years I managed Stack Overflow in different languages and other communities of the Stack Exchange network.</p>
            <p>While I was working at Stack Overflow I did all kinds of interesting things like public speaking at conferences, organizing and leading online and offline events, creating community rules, and many more. My last position at the company was data analyst on the Stratagy sub-team. I was responsible for all sorts of community health metrics and analytics and inter-team process design.</p>
            <p>I ended up working on communities in the most absurd way: by launching a community with zero understanding what it takes to grow it. When I was studying software engineering at a university I truly but incorrectly believed that social science is not really a science, it looked too straightforward to me. When I started working on my own community I realized that I know nothing about the social universe of human beings. I was failing so badly that at some moment I decided to stop everything else and sit to learn how to do community management in the right way. It took me five years of everyday reading and practicing to be able to connect the dots. I reopened the beauty of relationships between people and realized how to live a happy life, even without programming on a daily basis.</p>
            <p>On Practical CM I want to share with you all the most important and interesting applied skills I have acquired over <a href="https://www.linkedin.com/in/nicolas-chabanovsky-61266074/" target="_blank">the years of work</a>.</p>
            <p>Please enjoy the <a href="https://courses.practical-cm.com/" target="_blank">course</a> and let me know <a href="https://meta.practical-cm.com/" target="_blank">what you think</a>!</p>
        </div>
    </div>
</div>
{% endblock %}