{% extends "base.html" %} 
{% block js_ext %}
{% endblock %}
{% block content %}
<div>
    <div class="top section">
        <h1>Educate yourself to build better communities</h1>
        <div class="into">
            We believe that doing the right things is much more important than doing things right. In the course you will learn about things that matter and work when it comes to building and growing online communities.
        </div>
        <div class="links">
            Read more <a href="/about">about the project</a> and <a href="/author">about the author</a>.
        </div>
    </div>
    <div class="courses section">
        <h2><a href="https://courses.practical-cm.com/" target="_blank">Courses</a></h2>
        <div class="about-course">
            Are you interested in how to create a successful community that has an impact on the world? Do you already have an active community but it is not growing as you have envisioned? Does your community experience drama? Take a <b>comprehensive</b>, <b>minimalistic</b> and <b>practical</b> course on community management to answer those and many other questions. 
        </div>
        <div class="course-list">
            <ul>
                <li><a href="https://courses.practical-cm.com/community-101" target="_blank">The essentials one needs to know before launching a community</a></li>
                <li><a href="https://courses.practical-cm.com/community-as-product" target="_blank">Community as a product</a></li>
                <li><a href="https://courses.practical-cm.com/reaching-critical-mass" target="_blank">Getting off the ground: Reaching the critical mass</a></li>
                <li><a href="https://courses.practical-cm.com/scaling" target="_blank">Scaling: Grow your community</a></li>
                <li><a href="https://courses.practical-cm.com/conflict-management" target="_blank">Managing conflicts in online communities</a></li>
                <li><a href="https://courses.practical-cm.com/community-health-metrics" target="_blank">Community health metrics</a></li>
            </ul>
        </div>
    </div>
    <div class="community section">
        <h2><a href="http://meta.practical-cm.com/" target="_blank">Community</a></h2>
        <div class="about-community">
            We will appreciate your feedback. Let us know what you think about the educational materials, suggest improvements and new modules, or share anything else about the courses.
        </div>
        <br/>
        <a href="http://meta.practical-cm.com/" target="_blank">Visit the community</a>
    </div>
    <div class="journal section">
        <h2><a href="" target="_blank">The Community Manager Diaries</a></h2>
        <div>
            Most phenomena of the social universe are possible to understand only on a large scale. Each article in the journal is dedicated to one practical piece of wisdom of building communities that I have learned during my tenure at Stack Overflow with incredibly erudite people who guided my observations. 
        </div>
        <br/>
        <a href="" target="_blank">Read the journal</a>
    </div>

</div>
{% endblock %}